/* Whole Nav */
.nav{
    display: flex;
    flex-flow: column;
    top: 0%;
    z-index: 990;
    position: sticky;
    background-color: white;
    
    margin: auto;
    max-width: 1280px;
}

/* ------------ Top ------------ */
.nav-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}
.nav-top-left{
    display: flex;
    align-items: center;
}
.nav-tleft-link{
    margin-left: 0.5rem;
}
.nav-top-right{
    display: flex;
    align-items: center;
}
.nav-tright-icon{
    margin-right: 0.5rem;
}

/* ------------ Bottom ------------ */
.nav-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}
/* Bottom Left */
.nav-bottom-left{
    display: flex;
    align-items: center;
}
.nav-bleft-companyname{
    display: flex;
}
.xyz{
    margin: 1rem;
}
.nav-bleft-cbdcategory{
    display: flex;

    
}
/* Bottom Right */
.nav-bottom-right{
    display: flex;
}
.nav-bright-search{
    display: flex;
    align-items: center;
}
.nav-bright-icons{
    display: flex;
    align-items: center;
}