/* Whole Nav */
.nav{
    display: flex;
    flex-flow: column;
    top: 0%;
    z-index: 990;
    position: sticky;
    background-color: white;
    
    margin: auto;
    max-width: 1280px;

    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

/* ------------ Top ------------ */
.nav-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}
.nav-top-left{
    display: flex;
    align-items: center;
    font-weight: 400;
}
.nav-tleft-link{
    margin-left: 0.5rem;
    font-weight: 400;
}
/* Same styles can be done this way */
.nav-top-left, 
.nav-top-right{
    display: flex;
    align-items: center;
}
.nav-tright-icon{
    margin-right: 0.5rem;
}
.nav-tright-link{
    font-weight: 400;
}
/* ------------ Bottom ------------ */
.nav-bottom{
    display: flex;
    justify-content: space-between;
    /* align-items: center; Not Needed?*/ 
    padding: 0rem 1rem;
}
/* Bottom Right */
.nav-bottom-right{
    display: flex;
    align-items: center;
}
.nav-bright-search{
    display: flex;
    align-items: center;
    /* margin-right: 1rem; cursor link */
    cursor: pointer;
}
.nav-bright-searchText{
    font-weight: 400;
}
.nav-bright-icons{
    display: flex;
    align-items: center;
}
/* Bottom Left */
.nav-bottom-left{
    display: flex;
    align-items: center; 
}
.nav-bleft-companyname{
    display: flex;
}
.nav-bleft-links{
    margin: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.nav-bleft-links:hover{
    border-bottom: 1px solid black;
}
.nav-bleft-cbdcategory{
    display: flex;    
}
.nav-bright-link,
.nav-bright-seperator{
    margin-right: 1rem;
}
.nav-bright-link{
    cursor: pointer;
}
.nav-bright-search:hover,
.nav-bright-link:hover{
    color: lightgray;
}
.nav-bright-seperator{
    margin-left: 1rem;
    font-size: larger;
}